body{
    font-family:Arial;
    background:#f4f4f4;
    text-align:center;
}

#products{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    width:220px;
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

img{
    width:100%;
}